*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}

.clear{
    clear: both;
}

/*nav section*/

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 5rem;
    padding: 5rem 0rem;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.4rem;
}

h3{ font-size: 3.8rem;}

button{
    font-size: 1.8rem;
}

nav{
    background: rgb(136, 70, 8);
    color: white;
    padding: 3rem;
}
nav h1 {
     float: left;
}
nav ul{
    float: right;
    list-style: none;
}
nav li{
    float: left;
    margin: 0rem 4rem;
}

.hero-section{
    background-image: url("/mini project/imeges/pexels-mark-1080696.jpg") ;
    height: 100rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 15rem;
    text-shadow: 3px 3px 3px black;
}
.hero-section button{
    margin-top: 4rem;
    padding: 1rem 4rem ;
    background: rgb(136, 70, 8);
    color: white;
    border: none;
    cursor: pointer;
    width: 20vh;
}

.form-section{
    text-align: center;
    font-size: 2.5rem;
}
form input, form label, form textarea{
display: block;
}
form input, form textarea{
    margin: 2rem auto;
    width: 30%;
}
form button{
    margin-bottom: 10rem;
    padding: 1rem 4rem ;
    background: rgb(189, 110, 36);
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
}


  .radio-button input[type="radio"] {
    display: none;
  }      
  .radio-button label {
    display: inline-block;
    background-color:rgb(165, 94, 28);
    padding: 4px 11px;
    font-family: Arial;
    font-size: 20px;
    cursor: pointer;
    margin-bottom:1rem;
  
  }      
  .radio-button input[type="radio"]:checked+label {
    background-color:rgb(221, 129, 37);
  
  }