/*all*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; 
}

.clear{
    clear: both;
}
/*nav*/

#logo{
    font-size: 2.8rem;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.4rem;
}

nav{
    background: rgb(136, 70, 8);
    color: white;
    padding: 3rem;
}
nav h1 {
     float: left;
     margin: 1rem;
     text-align: center;
}
nav ul{
    float: right;
    list-style: none;
    text-align: center;
    margin: 1rem;

}
nav li{
    float: left;
    margin: 0rem 4rem;
}



/*words after gally1*/

body {
    font-family: sans-serif;
     margin: 0;
     background: #ffb962;
  }
  
  .page-title {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 4rem;
    text-shadow: 3px 3px 3px black;
  }
  
  p {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom:60px;
    text-shadow: 3px 3px 2px black;
  }




/*seconde gallery*/
div.gallery {
    border: 1px solid #ccc;
    display: flex;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;
   
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
 

  